.action_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.action_btn_cancel {
  border-radius: 4px;
  border: 1px solid #94ffdf;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #94ffdf;
  background: none;
}
.action_btn_confirm {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #94ffdf;

  background: radial-gradient(
      2058.68% 50% at 50% 50%,
      rgba(43, 147, 122, 0.1) 0%,
      rgba(43, 147, 122, 0) 100%
    ),
    #2b937a;
  padding: 16px 64px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .action_btn_cancel{
    padding:8px 16px;
  }
  .action_btn_confirm{
    padding:8px 16px;
  }
  .action_popup {
    gap: 50px;
  }
}
