/* Sidebar.module.css */

.sidebar {
  position: fixed;
  top: 0;
  left: -100%; /* Ẩn sidebar khi chưa được mở */
  width: 100%;
  height: 100%;
  background-color: #0c0f11;
  padding-top: 20px;
  transition: left 0.3s ease;
}
.sidebarContainer {
  padding: 22px 16px;
}

.open {
  left: 0; /* Hiển thị sidebar khi đã được mở */
}

.sidebarUl {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebarli {
  padding: 18px 0px;
  /* border-bottom: 1px solid #555; */
}

.sidebara {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.sidebara:hover {
  /* width: 0px;
  color: #00ffd4;
  border-bottom: 2px solid #00ffd4; */
}
.sidebar_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
.sidebaraLang {
  margin-top: 24px;
  width: 50%;
}
.activeTab {
  color: #00ffd4;
  border-bottom: 2px solid #00ffd4;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
